body{
    margin: 0;
}


header{

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    height: 10em;

}

h1{
    color: black;
    font-size: 3em;
}

#divinputsEscolherPokemon{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 5em;

}

#escolherPokemon{

    margin: 0 3em;

}